@font-face{
    font-family: Nssa;
    src: url(./font/setofont.ttf);
    /* font-family: Nssa-ex;
    src: url(./font/setofont-ex.ttf); */
}

* {
    padding: 0;
    margin: 0;
    font-family:微軟正黑體;  
    box-sizing: border-box;    
}

nav {
    display:grid;
    grid-template-columns: 30% 20% 50%;
    padding: 25px;

    position: fixed;
    top: 0;
    background-color: #a8a8a890;
    width: 100%;
}

#logo span{
    font-family: Nssa;
    font-size: 40px;
    font-weight: 900;
}

#logo{
    align-items: center;
    text-align: center;
}

section{
    padding: 5px 30px;
}

#nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

#nav a{
    text-decoration: none;
    color: #a9eb53;
    font-size: 20px;
    transition:0.3s;
}

#nav a:hover{
    color: blueviolet;
    font-size: 22px;
}

#banner {
    background-image: url(./img/noodles.jpg);
    /* 填滿 */
    background-size: cover;
    /* 置中 */
    background-position: center;
    /* vh螢幕高度 */
    height: 100vh;

    display: grid;

    color: white;

    text-align: center;
    align-items: center;
}

#banner div{
    width: 800px;
    margin: 0 auto;
}

#banner div h1{
    text-shadow:  0.1em 0.1em 0.2em #333;
    font-family: Nssa;
    font-size: 100px;
}

#banner div h4{
    text-shadow:  0.1em 0.1em 0.2em #333;
    font-family: Nssa;
    font-size: 30px;
    text-align: left;
    margin-left: 210px;
    margin-bottom: 10px;
}

section{
    width: 1200px;
    margin: 0 auto;
}

.Nssa{    
    font-family: Nssa;
}

#about > div{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

#about > div .img{

    background-image: url(./img/t3tz67q.jpg);
    /* 填滿 */
    background-size: cover;
    /* 置中 */
    background-position: center;
    /* vh螢幕高度 */
    height: 500px;

}